.title__page {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 0.2rem;
  // border-bottom: 1px solid grey;
}
.title {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 0.2rem;
}

.machines {
  width: 100%;
  height: 100%;
  position: relative;
}

#machine_title {
  margin-top: 40px;
  margin-bottom: 10px;
}

#title {
  max-width: 80%;
  width: 500px;
  margin: 30px auto;
  color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  padding: 10px;
}
