.my__container {
    background-color: #1E293B;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
        width: 12rem;
        height: 12rem;
        margin-bottom: 2rem;
    }
} 

.btn__form {
    background-color: #1E293B;
    padding: 0.5rem 2rem;
}